.team {
	margin-top: 192px;
	text-align: center;

	&__title {
		margin-bottom: 16px;
		font-size: 40px;
		line-height: 56px;
		color: var(--blackTitle);
	}

	&__description {
		color: var(--blackText);
	}
}

.members {
	display: flex;
	align-items: flex-start;
	position: relative;

	height: 367px;

	.member_1 {
		margin-right: 69px;
		width: 29%;
	}

	.member_2 {
		margin-right: 118px;
		width: 30%;
		align-self: flex-end;
	}

	.member_3 {
		width: 25%;
	}

	.line_1,
	.line_2 {
		width: 34%;
		position: absolute;
		z-index: -1;
	}

	.line_1 {
		top: 20px;
		left: 15.5%;
	}

	.line_2 {
		bottom: 55px;
		right: 10%;
	}
}

@media screen and (max-width: 1120px) {
	.members {
		justify-content: space-between;
		.member_1 {
			margin-right: 0;
		}

		.member_2 {
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 930px) {
	.members {
		height: 300px;
	}
}

@media screen and (max-width: 768px) {
	.members {
		height: 218px;
	}
}

@media screen and (max-width: 530px) {
	.team {
		&__title {
			margin-bottom: 8px;
			font-size: 28px;
			line-height: 150%;
		}

		&__description {
			margin-bottom: 40px;
			font-size: 15px;
			line-height: 175%;
		}
	}

	.members {
		flex-wrap: wrap;
		height: max-content;

		.member_1 {
			margin-left: 18px;
			margin-bottom: 40px;
			width: 53%;
		}

		.member_2 {
			margin-left: auto;
			margin-right: 18px;
			margin-bottom: 40px;
			width: 54%;
			align-self: flex-end;
		}
		.member_3 {
			margin-left: 18px;
			width: 46%;
		}

		.line_1,
		.line_2 {
			width: 62%;
		}

		.line_1 {
			top: 105px;
			right: 12px;
			left: auto;
			rotate: 40deg;
		}

		.line_2 {
			right: 28%;
			bottom: 170px;
			rotate: 125deg;
		}
	}
}
