.intro {
	padding-top: 181px;
	padding-left: 18px;
	padding-right: 18px;
	height: 914px;
	background-color: var(--grayPinky);
	background-position: 505px 500px;
	position: relative;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__left_block {
		padding-top: 60px;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__right_block {
		margin-right: -50px;
		position: relative;
	}

	&__headline {
		max-width: 100%;
		margin-bottom: 50px;
	}

	&__description {
		width: 448px;
		max-width: 100%;
		margin-bottom: 48px;
		font-size: 16px;
		line-height: 32px;
		color: var(----blackTotal);
	}

	&__btn {
		padding: 15px 32px;
		position: absolute;
		top: 50%;
		right: 8px;
		transform: translateY(-50%);
	}

	&__card {
		position: absolute;
		bottom: -28px;
		left: -54px;
		z-index: 2;

		&_icon {
			position: absolute;
			top: 32px;
			left: 32px;
			z-index: 3;
		}

		&_members {
			font-weight: 700;
			color: var(--white);

			p {
				font-size: 20px;
				line-height: 140%;
			}

			span {
				font-size: 56px;
				line-height: 80px;
			}

			position: absolute;
			bottom: 41px;
			left: 31px;
			z-index: 3;
		}
	}
}

.form {
	max-width: 100%;
	position: relative;
	display: inline-block;

	input {
		padding: 20px 0 20px 48px;
		width: 448px;
		max-width: 100%;
		font-size: 18px;
		line-height: 1.4;
		background: var(--white);
		box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
		border-radius: var(--radiusL);
		border: none;

		&:focus {
			outline-color: var(--red);
		}
		&::placeholder {
			color: var(--gray);
			font-size: 14px;
		}
	}

	svg {
		position: absolute;
		top: 50%;
		left: 21px;
		transform: translateY(-50%);
		z-index: 1;
	}
}

@media screen and (max-width: 950px) {
	.intro {
		padding-top: 220px;
		height: 1130px;

		&__wrapper {
			justify-content: center;
		}

		&__left_block {
			padding-top: 0;
		}

		&__right_block {
			position: absolute;
			bottom: -180px;
			left: 26%;
			z-index: 1;
		}

		&__headline {
			margin-bottom: 30px;
		}
	}
}

@media screen and (max-width: 575px) {
	.intro {
		margin-top: -70px;
		&__right_block {
			bottom: -173px;
			left: 22%;
		}
		&__headline {
			margin-bottom: 0;
		}
	}
}
